{% extends 'base.html.twig' %}

{% block body %}
    <p style="text-align:center;font-weight:bold;font-size:22px;margin-top:5vh">Series vistas por mes:</p><br>
    <div style="height: 500px;border: 1px solid #000;padding: 4vh;margin: 4vh;border-radius: 5px">
        {{ render_chart(chart) }}
    </div>
{% endblock %}