{% extends 'base.html.twig' %}

{% block body %}
{% for genero in array_generos %}
    <ul>
        <li>{{genero.nombre}} " - " {{genero.num_generos}}</li>
    </ul>
    {% endfor %}
    <p style="text-align:center;font-weight:bold;font-size:22px;margin-top:5vh">Géneros Más Comunes:</p><br>
    <div style="height: 500px;border: 1px solid #000;padding: 4vh;margin: 4vh;border-radius: 5px">
        {{ render_chart(chart) }}
    </div>
{% endblock %}